@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            @Html.ActionLink("Facebook ile Login ol", "Login", "Facebook")
        </div>
    </body>
</html>